
#hello {
  font-family: 'Hind', sans-serif;
  background-color: rgba(red, green, blue, alpha) ;
  color: rgb(145, 56, 64);
  font-size: 30px;
  line-height: 5px ;
  font-weight: 50xp;
}

  .img-circle {
  width: 250px;
  border-radius: 5%;
}

.firstp {
  font-family: 'Hind', sans-serif;
  background-color: rgba(red, green, blue, alpha) ;
  color: rgb(115, 97, 103);
  font-size: 27px;
  line-height: 5px ;
}

.secondp{
  color: rgb(115, 97, 103);
  font-size: 25px;
}

icone:hover {
  text-decoration: underline;
  color: rgb(24, 14, 34);
}

.links{
  font-style: none;
  text-align: center;
}
.followme {
  font-weight: 500;
  font-family: 'Hind', sans-serif;
  color: rgb(224, 93, 93)
  text-align: center;
}

.card {
  background-color: rgb(240, 236, 236);
  padding: 40px;
  box-shadow: 0px 10px 30px rgb(0 0 0 / 10%);
  border-radius: 4px;
  margin: 10px 0px;
  text-align: center;
}

.btn {
  background-color: #552a4c;
  color: white;
  padding: 10px 10px;
  border-radius: 4px;
}

.socialnet {
  list-style: none;
  padding-left: 0px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.socialnet i {
  color: rgb(58, 32, 58);
  font-size: 30px;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

body {
  background: #a3a4a6;
  color: #575F7D;
  font-family: 'Lora', serif;
  font-size: 17px;
  font-weight: lighter;
}


@media (max_width: 960px) {
.card{
    width: 700px;
  }
}

@media (max_width: 720px) {
.card{
    width: 700px;
  }
}

@media (max_width: 540px) {
.card{
    width: 700px;
  }
}
